<!doctype html>
<html>
<head>
    <link rel=stylesheet type=text/css href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
<div class="pane">
<h1>Edit menu item</h1>
<form action=""{{url_for('editMenuItem', restaurant_id=restaurant_id, menu_id=menu_id)}}"" method='POST'>
<p>Name:</p>
    <input type='text' size='30' name='name' placeholder='{{item.name}}'>
<p>Description:</p>
    <input type='text' size='60' name='description' placeholder='{{item.description}}'></br>
<p>Price:</p>
    <input type='text' size='20' name='price' placeholder='{{item.price}}'></br>
<p>Course:</p>
    {% if item.course == 'Appetizer' %}
        <input type="radio" name="course" value="Appetizer" checked>Appetizer<br>
    {%else%}
        <input type="radio" name="course" value="Appetizer">Appetizer<br>
    {%endif%}
    {% if item.course == 'Entree' %}
        <input type="radio" name="course" value="Entree" checked>Entree<br>
    {%else%}
        <input type="radio" name="course" value="Entree">Entree<br>
    {%endif%}
    {% if item.course == 'Dessert' %}
        <input type="radio" name="course" value="Dessert" checked>Dessert<br>
    {%else%}
        <input type="radio" name="course" value="Dessert">Dessert<br>
    {%endif%}
    {% if item.course == 'Beverage' %}
        <input type="radio" name="course" value="Beverage" checked>Beverage<br><br>
    {%else%}
        <input type="radio" name="course" value="Beverage">Beverage<br><br>
    {%endif%}
    <input type='submit' value='Edit'>
</form>
<a href='{{url_for('showMenu', restaurant_id=restaurant_id)}}'>Cancel</a>
</div>
</body>
</html>
