<!doctype html>
<html>
<head>
    <link rel=stylesheet type=text/css href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
<div class="pane">
<h1>Restaurants</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li> <strong> {{message}} </strong></li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

<a href='{{url_for('newRestaurant')}}'>New Restaurant</a>
</br>

{% for i in items %}

<div>

<p>{{i.name}}</p>

<a href='{{url_for('showMenu', restaurant_id=i.id)}}'>Show menu</a>
</br>
<a href='{{url_for('editRestaurant', restaurant_id=i.id)}}'>Edit</a>
</br>
<a href='{{url_for('deleteRestaurant', restaurant_id=i.id)}}'>Delete</a>
</br>

</div>


{% endfor %}
</div>
</body>
</html>
